<html>

<div><%= validationText %></div>

<form action="/home/deleteAccount" method="post">
    Password:<br>
    <input type="text" name="password"><br>
    <br>
    <input type="submit" value="Delete Account">
</form>

<a href="/home"><button>Home</button></a>

</html>