<html>

<div><%= validationText %></div>

<form action="/login" method="post">
    Username:<br>
    <input type="text" name="username"><br>
    Password:<br>
    <input type="text" name="password"><br><br>
    <input type="submit" value="Login">
</form>

<a href="/register"><button >Register</button></a>


</html>