<html>

<div><%= validationText %></div>

<form action="/register" method="post">
    Username:<br>
    <input type="text" name="username"><br>
    Password:<br>
    <input type="text" name="password1"><br>
    Repeat Password:<br>
    <input type="text" name="password2"><br>
    <br>
    <input type="submit" value="Register">
</form>

</html>