<html>

<div><%= validationText %></div>

<form action="/home/updatePassword" method="post">
    Old Password:<br>
    <input type="text" name="password0"><br>
    New Password:<br>
    <input type="text" name="password1"><br>
    Repeat New Password:<br>
    <input type="text" name="password2"><br>
    <br>
    <input type="submit" value="Update">
</form>

</html>